

.orange {
  	background-color: #f18200;
  	color: #FFF;
}
.orange:hover {
  	color: #FFF;
}



/*#hdr {
  	margin-top: 130px;
}*/
/*#hdr .inner {
  	padding: 0;
}
#hdr img {
  	width: 100%;
}
#hdr .desc {
	width: 80%;
	top: 8%;
	position: absolute;
	left: 10%;
}
#hdr .desc h1 {
	font-weight: 800;
	margin: 0;
	padding: 0;
	font-size: 45px;
	line-height: 100%;
}
#hdr .desc h2 {
	font-size: 35px;
	margin: 10px 0 20px 0;
	padding: 0;
	line-height: 100%;
}
#hdr .hpg-vid {
	font-size: 15px;
	bottom: 0%;
	position: absolute;
	right: 44%;
	border:thin #f18200 solid;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-box-shadow: -2px 3px 6px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 3px 6px -1px rgba(0,0,0,0.75);
	box-shadow: -2px 3px 6px -1px rgba(0,0,0,0.75);
}*/

.btn_override {
	 background-color: #f18200 !important;
	 border:none;
}
.btn {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	font-weight: 600;
	border: 3px double orange;
}
.btn:hover { /* changed djs -- added .no-touch */
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	transform: scale(1.1);
	-ms-transform: scale(1.1); /* IE 9 */
	-moz-transform: scale(1.1); /* Firefox */
	-webkit-transform: scale(1.1); /* Safari and Chrome */
	-o-transform: scale(1.1); /* Opera */
	box-shadow: 0 0 5px rgba(0,0,0,.5);
	border-color: white;
}

#hpgslider .btn {
	font-weight: 600;
	font-size: 25px;
	line-height: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	border-right: 1px solid rgba(0, 0, 0, 0.3);
	border-top: 1px solid rgba(255, 255, 255, 0.66);
	border-left: 1px solid rgba(255, 255, 255, 0.66);
	color: #FFF;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
	-webkit-transition: all .3s; /* For Safari 3.1 to 6.0 */
	transition: all .3s;
}
#hpgslider .btn small {
	font-size: 15px;
	font-weight: 300;
	display: block;
}
#hpgslider .btn:hover small {
	font-weight: 600;
}
#hpgslider p.small {
	font-size: 13px;
	text-align: center;
	padding-top: 7px;
}
#hdr .ftr {
  	padding: 15px 30px;
  	background-color: #0085B2;
  	color: #ABE0ED;
  	font-size: 20px;
  	line-height: 120%;
}
#hdr .ftr span, #hdr .ftr a {
  	color: #FFF;
  	font-weight: 600;
}
#hdr .ftr a {
  	text-decoration: underline;
}
#hdr .ftr img {
  	width: auto;
}
#hdr2 .ftr {
  	padding: 15px 30px;
  	background-color: #0085B2;
  	color: #ABE0ED;
  	font-size: 20px;
  	line-height: 120%;
}
#hdr2 .ftr span, #hdr .ftr a {
  	color: #FFF;
  	font-weight: 600;
}
#hdr2 .ftr a {
  	text-decoration: underline;
}
#hdr2 .ftr img {
  	width: auto;
}
#content .inner {
  	padding-top: 60px;
}
#content #widebtn {
  	width: 500%;
  	margin: 0 auto 10px;
  	font-size: 550%; 
  	border: 3px double orange;
}
h2 {
  	font-size: 38px;
}
h2.center {
  	text-align: center;
}
h3 {
  	font-size: 30px;
}
.h3_override{
	margin-bottom: 50px;	
}
h1.center, h2.center, h3.center {
	display: block;
	text-align: center;
}
p.center {
	display: block;
	width: 75%;
	margin: 0px auto;
	text-align: center;
	font-size: 18px;
}
#content .tabWrapper {
	position: relative;
	padding-top: 30px;
}
.tabWrapper ul.navi {
	list-style: none;
	margin: 0;
	padding: 0;
}
.tabWrapper ul.navi li {
	position: absolute;
	top: 45%;
	left: 5%;
	width: 50px;
	height: 50px;
	background-color: #46B7D5;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	line-height: 30px;
	color: #FFF;
	padding: 10px;
	border-radius: 50% 50% 50% 50%;
	cursor: pointer;
}
.tabWrapper ul.navi li.nextBtn {
	left: auto;
	right: 5%;
}
.tabs {
	margin: 0 auto;
	padding: 10px;
	border-radius: 30px;
	border: 1px solid #DDD;
	background-color: #EEE;
	width: 80%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 60px;
}
.tabs.twoTabs li {
  	width: 50%;
}
.tabs li {
	margin: 0;
	padding: 0;
	display: block;
	border: 1px solid #FFF;
	background-color: #DDD;
	width: 33%;
	float: left;
	border-right: 0px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 40px;
}
.tabs li a {
	text-align: center;
	font-size: 16px;
	display: block;
	padding-top: 8px;
	height: 40px;
	color: #666;
}
.tabs li:first-child {
  	border-radius: 20px 0 0px 20px;
}
.tabs li:last-child {
  	border-radius: 0px 20px 20px 0px;
}
.tabs li:hover {
  	box-shadow: inset 0px 0px 3px rgba(0,0,0,.5);
}
.tabs li.active {
  	background-color: #46B7D5;
  	box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
}
.tabs li.active a {
  	color: #FFF;
  	text-decoration: none;
}
.tabs a,
#content .tabs a:hover,
#content .tabs a:active {
  	text-decoration: none;
}
.tabs a:hover {
  	color: #000;
}
.panes {
  	width: 80%;
  	margin: 0 auto;
  	padding: 50px 20px;
}
.modal-body .tabWrapper .panes {
  	padding: 10px 0 !important;
  	height: auto !important;
}
.modal-body ul.navi {
  	display: none;
}
.panes .pane {
  	display: none;
}
.panes .pane.active {
}
#logoSlider {
	overflow: hidden;
	height: 90px;
	margin: 20px -20px 0;
	white-space: nowrap;
}
#sliderWrapper .inner {
	padding: 30px 20px;
}
.sliderInner {
	white-space: nowrap;
	display: inline;
	padding: 40px 0;
}
.sliderInner img {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	margin: 0px 10px;
}
.sliderInner img:hover {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	transform: scale(1.2);
	-ms-transform: scale(1.2); /* IE 9 */
	-moz-transform: scale(1.2); /* Firefox */
	-webkit-transform: scale(1.2); /* Safari and Chrome */
	-o-transform: scale(1.2); /* Opera */
	cursor: pointer;
}
span.wTw {
	color:#47b7d5;
}
span.cYe {
	color:#0085b2;
}
.text-decoration-underline {
	text-decoration:underline;
}
#brandlogos {
	color: #000;
	background-color: #FFF; 
	border-radius: 20px; 
	padding: 16px; 
	font-size: 32px; 
	width:150px; 
	height: 150px;
	-webkit-box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.75);
}
.col-centered{
    float: none;
    margin: 0 auto;
}
#videos {
	margin: 0px -20px;
	padding: 50px 30px;
	text-align: center;
	box-shadow: inset 0 19px 19px -19px rgba(0,0,0,.5), inset 0 -19px 19px -19px rgba(0,0,0,.5);
}
#videos img {
	max-width: 27%;
	margin: 0 1%;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#videos img:hover {
  	box-shadow: 0px 0px 0px transparent;
  	-webkit-transition: all 0.5s ease;
  	-moz-transition: all 0.5s ease;
  	-o-transition: all 0.5s ease;
  	-ms-transition: all 0.5s ease;
  	transition: all 0.5s ease;
  	transform: scale(1.1);
  	-ms-transform: scale(1.1); /* IE 9 */
  	-moz-transform: scale(1.1); /* Firefox */
  	-webkit-transform: scale(1.1); /* Safari and Chrome */
  	-o-transform: scale(1.1); /* Opera */
  	cursor: pointer;
}
#subContent {
  	text-align: center;
}
.how-it-works #subContent .inner .row {
  	padding-bottom: 50px;
}
.row {
  	padding-bottom: 50px;
}
.rowshort {
  	padding-bottom: 0px;
}
#footer {
  	font-size: 10px;
}
#footer .inner {
  	padding: 20px 30px 50px;
  	background-color: #CCC;
}
#subContent .inner {
  	padding: 50px 0 50px 0;
}
#subContent .text-left li {
  	margin-top: 15px;
}
.how-it-works #content .row {
  	margin-top: 0px;
}
.how-it-works #content .panes {
  	padding-top: 40px;
}
.how-it-works #subContent h3 strong {
  	display: block;
}
.how-it-works .pane .btnContainer {
  	text-align: center;
}
.how-it-works .pane .btnContainer .btn {
  	width: 80%;
  	margin: 0 auto 10px;
  	font-size: 150%; 
  	border: 3px double orange;
}
.noUi-connect {
  	background: none repeat scroll 0 0 #46B7D5;
}
table {
  	border: 0;
  	border: 10px solid #FFF;
  	box-shadow: 0 0 5px rgba(0,0,0,.2);
  	width: 90%;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	margin: 0 auto;
}
table td {
  	background-color: #EEE;
  	padding: 5px 10px;
  	font-size: 130%;
  	/*text-align: right;*/
}

tr.underline td {
  	border-bottom: 3px double #AAA;
}
.centertable {
  	text-align: center;
}
#sliderValue {
  	font-weight: bold;
  	color: #0085B2;
  	font-size: 120%;
}
#totalValue {
  	color: #000;
}
#commission {
  	margin: 30px 0 50px 0;
}
#partner .inner {
  	padding-top: 70px;
  	font-size: 120%;
}
#partner p.center {
  	width: 90%;
}
#partner blockquote {
  	margin: 10px 30px;
  	text-align: center;
  	font-family: Georgia;
  	font-style: italic;
  	opacity: .7;
  	border: 0;
}
#commissionWrapper .inner {
  	padding: 70px 20px 20px;
}

#commissionWrapper h2 {
  	margin-bottom: 20px;
}
.offer {
	border-radius:18px;
	color: #FFF;
	background-color: #46B7D5;
	padding: 20px;
	text-align: center;
	font-size:24px;
}
/*.lhn_help_btn {
    top: 225px !important;
}*/
/*.lhn_help_container {
    top: 215px !important;
	}*/
/*#brokerButton {
	margin-bottom:20px;
}*/






























/* Media Queries
--------------------*/
@media(max-width:479px){
.remaxLogo {
	display:none;
}
.amLogo {
	display:none;
}
.moveMeUp {
	position:relative;
	top:0;
}
}

/*  1024px  */
@media screen and (max-width: 1024px){
.services {
  	padding: 20px;
  	text-shadow: none;
  	height: 420px;
  	font-size: 14px;
  	text-align: center;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}
.services .btn {
	/*bottom: 5%;
	left: 80px;
	position: absolute;*/
	align-content:center;
 }
.btn_override {
	 margin: 0 auto !important;
	 margin-left:0 auto;
	 margin-right:0 auto;
	 align-content:center !important;
}
#hdr .hpg-vid {
	font-size: 15px;
	bottom: 0%;
	position: absolute;
	right: 40%;
}
}

/*  1037px  */
@media(max-width:1037px){
.faqs {
	margin-top:190px;
}
.faqs2 {
	margin-top:170px;
}
.faqsSignup {
	margin-top:165px;
}
}

/*  1161px  */
@media(max-width:1161px){
.faqsSignup {
	margin-top:165px;
}
}

/*  1199px  */
@media(max-width:1199px){
.faqsSignup {
	margin-top:135px;
}
}

@media(max-width:990px){
.faqs {
	margin-top:195px;
}
.faqs2 {
	margin-top:175px;
}
}

@media (max-width:991px) and (min-width:850px){
.brkMe {
	display:none;
}
}

@media screen and (max-width: 980px) {
#menu a {
    display: block;
    padding: 3px 7px;
    font-size: 12px;
}
#hdr .desc h1 {
	margin-top: 20px;
    font-size: 25px;
}
#hdr .desc h2 {
    font-size: 30px;
    margin: 10px 0;
}
.services {
  	padding: 20px;
  	text-shadow: none;
  	height: 435px;
  	font-size: 14px;
  	text-align: center;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}
.services .btn {
	/*bottom: 5%;
	left: 90px;
	position: absolute;*/
	align-content:center; 
}
}
@media screen and (max-width: 850px){
.tabWrapper ul.navi {
    width: 100%;
    text-align: center;
}
.panes {
    height: auto !important;
}
.tabWrapper ul.navi li {
    position: inherit;
    display: inline-block;
    margin: 10px;
}
/*.tabWrapper ul.navi li.nextBtn {
}*/
.tabWrapper .panes {
    padding-top: 60px !important;
}
.panes .pane {
    padding-bottom: 20px;
}
.panes .row {
    padding-bottom: 40px;
}
.panes .col-sm-7 img {
    padding-top: 20px;
}
#navBar {
    position: relative;
}
#navBar .inner, .subnav #navBar .inner {
   height: 180px;
}
#hdr {
    margin-top: 0;
}
#submenu {
    margin-top: 10px;
}
p.center, #content .tabs, #content .panes {
    width: 100%;
}
#hdr .desc h1 {
	margin-top: 20px;
    font-size: 35px;
}
#hdr .desc h2 {
    font-size: 25px;
}
a.logo {
    left: 50%;
    margin-left: -155px;
}
#menu {
    float: none;
    margin: 90px auto 0px auto;
    width: 500px;
}
#menu ul {
    float: none;
}
#hdr .desc {
    width: auto;
    padding: 20px 30px;
    bottom: auto;
    left: auto;
    position: relative;
    text-align: center;
    color: #FFF;
    background-color: #0085B2;
}
#hdr .desc h1,
#hdr .desc h2,
#hdr .desc h1 strong,
#hdr .desc h2 strong {
    text-shadow: none;
    color: #FFF;
}
#hdr .desc h1 strong {
    display: inline;
}
h1 strong,
h2 strong,
h3 strong {
    display: block;
}
h1 br,
h2 br,
h3 br {
    display: none;
}
#footer .text-right {
    text-align: right !important;
    margin-top: 20px;
}
#hdr {
    text-align: center;
}
#hdr .ftr .pull-right {
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
#hdr .ftr a {
    display: block;
    margin-bottom: 20px;
}
#menu a {
    padding: 3px 3px;
}
#navBar .topBar {
    text-align: center;
}
.narrow {
    width: 100%;
}
.how-it-works .pane .btnContainer .btn {
    margin-top: 30px;
}
.border-right {
    border-right: 0px;
}
#tab1 .col-sm-5 {
    text-align: center;
}
.inner {
    text-align: center;
}
h2 {
    font-size: 28px;
}
.tabWrapper .panes .btn {
    margin-bottom: 10px;
}
.services {
  	padding: 20px;
  	text-shadow: none;
  	height: 420px;
  	font-size: 14px;
  	text-align: center;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}
.services .btn {
	width: 150px;
	/*bottom: 5%;
	left: 50%;
	margin-left: -75px;
	position: absolute;*/
	align-content:center;
}
span.wTw,
span.cYe {
	color:white;
}
/*-----------------------
Privacy Policy --------*/
.DDtitle {
	text-align:left;
}
.indent {
	text-align:left;
	width:100% !important;
	margin-left:0;
}
.indentLp {
	text-align:left;
	width:100% !important;
	margin-left:0;
}
/*-----------------------
Inman Video LP --------*/
@media (max-width: 830px){ 
/* previous button  */
#quote-carousel .carousel-control.left {
  	display:none;
}
/* next button  */
#quote-carousel .carousel-control.right {
  	display:none;
}
}

/*-----------------------
Footer Fix (center) --------*/
@media screen and (max-width: 767px){
#footer .text-right {
	text-align:center !important;
}
.securedGroup {
	text-align:left;
}
.securedLogos {
	margin:auto;
	max-width:300px;
}
.safeNsecure {
	margin:auto;
	max-width:300px;
}
.sideBarBGtop {
	background-color:#F6F6F6;
	height: 100%;
	padding:20px;
	border:2px solid #E5E5E5;
	border-radius:10px;
}
.sideBarBGbottom {
	background-color:#F6F6F6;
	height: 100%;
	padding:20px;
	border:2px solid #E5E5E5;
	border-radius:10px;
	margin-top:50px;
}
.spcr2 {
	display:none;
}
.orange2 {
  	background-color: #f18200;
  	color: #FFF;
	width:100%;
}
}
@media screen and (max-width: 560px) {
#menu, #submenu {
    display: none;
}
#navBar .topBar a.btn {
    font-size: 18px;
}
a.logo {
    margin-top: 10px;
}  
#hdr2 {
	display: none;
}
#hdr .desc h1 {
    font-size: 35px;
}
#hdr img {
    display: none;
}
#hdr .grow {
    display: none;
}
#menuSelect {
    display: block;
    z-index: 80;
    position: absolute;
    top: 50px;
    left: 20px;
    right: 20px;
    width: 80%;
}
#videos img {
    width: 85%;
    max-width: 85%;
    margin-bottom: 20px;
}
#content .tabs {
    height: auto;
    border-radius: 0;
}
#content .tabs li {
    width: 100%;
    float: none;
    border-right: 1px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 40px;
}
#content .tabs.twoTabs li {
    width: 100%;
}
#content .tabs li:first-child {
    border-radius: 0;
}
#content .tabs li:last-child {
    border-radius: 0;
}
#content .panes {
    padding: 20px;
}
table td {
    font-size: 100%;
}
.how-it-works .pane .btnContainer .btn {
    font-size: 100%;
}
.index a.logo {
    background: transparent url("../img/logos/mobile-logo.png") top left no-repeat;
    width: auto;
    height: 135px;
    background-size: cover;
    margin-top: 0;
    left: 0;
    right: 0;
    background-position: center top;
    margin: 0;
    z-index: 4;
}
  
.services {
	padding: 20px 20px 75px;
	margin-bottom: 20px;
	text-shadow: none;
	height: auto;
	font-size: 14px;
	text-align: center;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.services .btn {
	width: 150px;
	/*bottom: 5%;
	left: 50%;
	margin-left: -75px;
	position: absolute;*/
	align-content:center;
}
.lhn_help_btn {
	visibility: hidden;
}
.lhn_help_container {
	visibility: hidden;
}
}

/*-----------------------
Inman Video LP --------*/
@media (max-width: 768px) { 
/* Make the indicators larger for easier clicking with fingers/thumb on mobile */
#quote-carousel .carousel-indicators {
	bottom: -20px !important;  
}
#quote-carousel .carousel-indicators li {
	display: inline-block;
	margin: 0px 5px;
	width: 15px;
	height: 15px;
}
#quote-carousel .carousel-indicators li.active {
  	margin: 0px 5px;
 	width: 20px;
 	height: 20px;
}
#heading2{
  	margin-top:50px;
}
#loginLogo {
	margin-left:-10px;
	text-align:center;
}
.faqs {
	display:none;
}
.faqsSignup {
	display:none;
}
}
/*-----------------------
Inman Video LP --------*/
@media (min-width: 768px) { 
#quote-carousel {
  	margin-bottom: 0;
  	padding: 0 40px 30px 40px;
}
.extraSpace {
	max-width:100%;
}
}
@media (max-width: 430px) {  
.rwd-break {
    display:block;
}
.faqs {
	display:none;
}
}
            
